.app__about{
    display: flex;
    flex-direction: row;
    background-color:  rgb(1, 16, 16);
    overflow: visible;
    position: relative;

}
.app__about__inner{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 10vw;
}

.app__about__content{
    color:white;
    position: relative;
    margin-top: 28vh;
    h2{
        color: #988e9f;
        font-size: 18px;
        font-weight: 300;
        margin: 1rem 0rem;
      }
}

.green {
    color:rgb(22, 141, 143)
}
.lightGreen {
    color: #24e394
}
.comment {
    color:#78707e
}
.yellow {
    color: #eeff31
}
.red {
    color:#e3244c
}
.desc {
    color: #24e33a
}
.dots {
    color: #3b3553;
    display:inline;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
    .dots{
        visibility: hidden;
    }
}