.app__header {
  height: 100vh;
  width: auto;
  background: black;
  z-index: 1;
  .circle {
    height: 100%;
    // background: radial-gradient(circle at 50% 200%, rgb(22, 141, 143) 0%, rgb(0, 0, 0) 70%) bottom center;
    background: radial-gradient(circle at 50% 200% , rgb(22, 141, 143) 0%, rgb(0, 0, 0) 70%);
    background-size: 100% 100%;
    animation: colorChange 1.5s infinite alternate;

  }

}


@keyframes colorChange {
  to {
    background-size: 100% 120%;
  }
 }