.app__header {
  height: 100vh;
  background: black;
  position: relative; /* Added to establish a stacking context */
  z-index: 1;

  .circle {
    z-index: -1; /* Set to a negative value to position it behind other elements */
    position: absolute; /* Change to 'fixed' to make it static in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 200%, rgb(22, 141, 143) 0%, rgb(0, 0, 0) 70%);
    background-size: 100% 100%;
    animation: colorChange 1.5s infinite alternate;
  }

  .app__header__content{
    position: absolute;
    top: 27%;
    left: 18%;
    height: auto;
    width: 60%;
    h2{
      color: #988e9f;
      font-size: 18px;
      font-weight: 300;
      margin: 1rem 0rem;
    }
    h1{
      color: white;
      font-size: 30px;
      font-weight: bold;
      span.title{
        color: rgb(22, 141, 143);
      }
      span.italic{
          font-style: italic;
          font-weight: 300;
        }
      span.bold{
          font-style: normal;
          font-weight: 700;
        }
      }

    }
}

@keyframes colorChange {
  to {
    background-size: 100% 120%;
  }
}


.subtitle {
  display: flex;
  align-items: center;
  .arrow {
    color: #988e9f;
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
      font-size: 50px;
    }
  }
}

