.card {
    position: relative;
    width: 300px; /* Adjust the width as needed */
    overflow: visible;
    border-radius: 8px; /* Add rounded corners if desired */
    color: white;
    .overlay{
        position:absolute;
        margin-top: 100px;
    }
    img{
        margin-left: 60px;
    }
}